body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background: url("https://vignette.wikia.nocookie.net/harrypotter/images/3/3e/Great_hall.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome,
.question, 
.house {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
  text-align: center;
  
}
.welcome p,
.question p {
  padding: 20px;
  margin-bottom: 10px;
  border: 2px solid black;
  background-color: rgba(61, 54, 54, 0.9);
  color: white;
}
.welcome a,
.question button {
  border: 1px solid green;
  background-color: chartreuse;
  text-decoration: none;
  color: black;
  padding: 10px;
}

.house {
  position: relative;
  text-align: left;
  padding: 20px 50px;
}
.house img {
  position: absolute;
  right: -90px;
  top: -70px;
  width: 200px;
}
.house .header,
.house .info {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}
.house .traits h3 {
  margin-bottom: 10px;
}

.house .traits {
  margin-bottom: 10px;
}

